[submodule "blockui-2"]
	path = blockui-2
	url = https://github.com/malsup/blockui.git
[submodule "pace-js"]
	path = pace-js
	url = https://github.com/CodeByZach/pace.git
[submodule "input-mask"]
	path = input-mask
	url = https://github.com/RobinHerbots/Inputmask
[submodule "viewerjs"]
	path = viewerjs
	url = https://github.com/fengyuanchen/viewerjs
[submodule "tippyjs"]
	path = tippyjs
	url = https://github.com/atomiks/tippyjs
[submodule "aos"]
	path = aos
	url = https://github.com/michalsnik/aos
[submodule "lazyload"]
	path = lazyload
	url = https://github.com/aFarkas/lazysizes
[submodule "animate-css"]
	path = animate-css
	url = https://github.com/animate-css/animate.css
[submodule "js-pjax"]
	path = js-pjax
	url = https://github.com/defunkt/jquery-pjax
[submodule "js-validator"]
	path = js-validator
	url = https://github.com/victorjonsson/jQuery-Form-Validator
[submodule "jquery-typeahead"]
	path = jquery-typeahead
	url = https://github.com/running-coder/jquery-typeahead.git
[submodule "fastclick"]
	path = fastclick
	url = https://github.com/ftlabs/fastclick
[submodule "Waves"]
	path = Waves
	url = https://github.com/fians/Waves
[submodule "Effeckt.css"]
	path = Effeckt.css
	url = https://github.com/h5bp/Effeckt.css
